#container{
  max-width: 768px;
}

#commentbox{
  margin: 10px 20px 50px;
  .mainPanel {
    margin-bottom: 15px;
  }
}

#commentslist{
  //background-color: #00b3ee;
  min-height: 400px;
  @include box-shadow(0 7px 26px #ccc);
  @include border-radius(10px);
}

.comment{

  padding: 10px 20px;

  &:hover{
    background-color: #f9f9f9;
  }
  .username{
    color: $blue;
  } // username
  .date{
    font-size: $fontx;
    font-style: italic;
  }
  .text{
    color: $typeLight;
    font: $typeFont;
    padding: 0 10px;
    margin-top: 5px;
  }//text

} //comment