@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800|Roboto);

//Add Color Palette
$blue   : #063642;
$dark   : #000000;
$light  : #FFFFFF;
$yellow : #F0AD4E;
$blue   : #188cb5;

$backgroundColor : $light;
$typeDefault     : $dark;
$typeLight       : lighten($dark, 30%);
$headersubbg     : $dark;

$fontfamily : 'Exo 2', 'Helvetica Neue', Helvetica, Arial,  sans-serif;
$fontfamilyRob : 'Roboto', 'Helvetica Neue', Helvetica, Arial,  sans-serif;

$thin   : 200;
$normal : 400;
$bold   : 600;
$heavy  : 800;

$fontx  : .8em;
$fontxx : .9em;

$headFont : $thin 2em/1.5em $fontfamily;
$mainFont : $thin 1em/1.5em $fontfamily;
$typeFont : $normal 0.9em/1.2em $fontfamilyRob;
$headColor: lighten($blue,20);
