<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fancy Comments</title>
        <link rel="stylesheet" href="css/_bower.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div id="container" class="container">
            <div id="main">
                <h1>Fancy Comments</h1>
                <hr/>
                <div id="commentbox">
                    <div class="clearfix mainPanel">
                        <div id="searchbox" class="hide col-sm-12 col-md-8">
                            <input type="search" placeholder="Search for keywords in the comments" name="keyword" id="search" class="form-control" onkeyup="markText(this)" />
                        </div>
                        <button onclick="loadComments()" class="col-sm-12 col-md-3 btn btn-primary btn-sm">Load Comments</button>
                    </div>

                    <div id="commentslist">

                    </div><!--commentslist-->
                </div><!-- #commentbox-->
            </div><!-- #main-->
        </div><!--.container-->

        <script id="commentsTmpl" type="text/x-handlebars-template">
            {{#each comments}}
                <div class="comment parent">
                    <div class="clearfix">
                        <strong class="username pull-left">{{user.firstName}} {{user.lastName}} </strong>
                        <span class="date pull-right text-muted" data-timestamp="{{date}}">{{dateFormat date}}</span>
                    </div>
                    {{#if children}}
                        <p  onclick="loadMoreComments(this, {{json this}})" class="text pointer">{{text}}</p>
                        <div class="children"></div>
                    {{else}}
                        <p class="text">{{text}}</p>
                    {{/if}}
                </div>
            {{/each}}
        </script>

        <script src="js/_bower.js"></script>
        <script src="js/script.js"></script>

    </body>
</html>